.LinkList {
  margin-top: 10px;
}

.LinkList.LinkList--centered {
  width: 100%;
  margin: 10px auto 0;
}

.LinkList li {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.LinkList a.button svg {
  margin-right: 3px;
}

.LinkList a.button {
  width: 300px;
  max-width: 100%;
}

.LinkList.LinkList--centered a.button {
  width: 100%;
}
